# Copyright (c) 2025 Alexandre Abadie
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config BOARD
    default "scum-devkit" if BOARD_SCUM_DEVKIT

config BOARD_SCUM_DEVKIT
    bool
    default y
    select CPU_MODEL_SCUM

    # Put defined MCU peripherals here (in alphabetical order)
    select HAS_TIMER
    select HAS_UART

    # Put other features for this board (in alphabetical order)
